<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Finder</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1>Restaurant Finder</h1>
        <form id="search-form">
            <input type="text" id="restaurant-type" placeholder="Restaurant Type" required>
            <input type="text" id="zip-code" placeholder="Zip Code" required>
            <button type="submit">Search</button>
        </form>
        <ul id="results"></ul>
    </div>
</body>
</html>
